/* font family */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&family=Open+Sans&display=swap");

/* common styles */
* {
  font-family: "Epilogue", sans-serif;
  margin: 0;
}
main,
footer {
  background-color: #fdf0e9;
  padding-top: 80px;
  padding-left: 135px;
  padding-right: 135px;
}
/* common style ends */
/* navigation style */
.topnav a.icon {
  display: none;
}
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  background-color: #28293e;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  height: 48px;
  width: 48px;
  padding-left: 135px;
}
.logo-name {
  padding-left: 14px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
#myLinks a {
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.contact-button {
  padding: 18px 35px;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 135px;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #28293e;
}
.hero-section {
  height: 400px;
  background-color: #28293e;
}
.hero-section h1 {
  color: white;
  font-weight: 800;
  font-size: 72px;
  text-align: center;
  letter-spacing: -2px;
  padding-top: 164px;
  padding-bottom: 24px;
}
.hero-section p {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  padding-bottom: 66px;
}
/* nav style ends */
/* highlighed articles style */
.highlight-articles {
  display: flex;
  border-bottom: 1px solid #f3d1bf;
  margin-bottom: 79px;
}
.highlight-article-1 {
  margin-right: 15px;
  margin-bottom: 68px;
}
.highlight-article-2 {
  margin-left: 15px;
}
.highlight-articles img {
  width: 100%;
}
.category-name {
  font-size: 20px;
  color: #391400;
  padding-top: 26px;
  padding-bottom: 19px;
}
.highlight-articles h3 {
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 12px;
  color: #391400;
}
.publish-time {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
}
/* blog articles style */
.blog-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 68px;
}
.blog img {
  width: 100%;
}
.blog h3 {
  font-size: 24px;
  font-weight: 700;
  color: #391400;
  margin-bottom: 15px;
}
.load-more-button {
  text-align: center;
}
.load-more-button button {
  background-color: white;
  padding: 18px 43px;
  margin-top: 115px;
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 14px;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  border: none;
  color: #391400;
}
/* Footer Design */
.newsletter {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f3d1bf;
  border-bottom: 1px solid #f3d1bf;
}
.newsletter h3 {
  font-size: 40px;
  font-weight: 800;
  color: #391400;
  margin-top: 60px;
  margin-bottom: 67px;
}
.input-field {
  display: flex;
  float: right;
  margin-top: 60px;
  margin-bottom: 67px;
}
input {
  all: unset;
  background-color: white;
  width: 370px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #f3d1bf;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 12px;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
}
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(57, 20, 0, 0.64);
  opacity: 1; /* Firefox */
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(57, 20, 0, 0.64);
}
input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(57, 20, 0, 0.64);
}
.subscribe-button button {
  background-color: white;
  padding: 18px 43px;
  font-weight: 900;
  font-size: 14px;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  border: none;
  color: #391400;
}
.footer-banner {
  display: flex;
  height: 544px;
  background: #ef6d58;
  border-radius: 6px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 111px;
}
.footer-banner img {
  padding-top: 41px;
  padding-bottom: 71px;
}
.banner-content h2 {
  padding-top: 96px;
  padding-bottom: 28px;
  font-size: 56px;
  font-weight: 800;
  letter-spacing: -1px;
  color: white;
  line-height: 64px;
}
.banner-content p {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
.banner-content button {
  background-color: white;
  padding: 18px 43px;
  margin-top: 34px;
  font-weight: 900;
  font-size: 14px;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  border: none;
  color: #391400;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 89px;
}
.footer-menu h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}
.menu-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
}
.footer-menu p {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.social-icon img {
  height: 48px;
  width: 48px;
  padding-left: 8px;
}
/* copyright area */
.copyright-container {
  display: flex;
}
.copyright-container {
  padding-top: 43px;
  padding-bottom: 52px;
  margin-top: 68px;
  border-top: 1px solid #f3d1bf;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  justify-content: space-between;
}
.copyright-link {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: right;
  color: #391400;
}
.copyright-link p {
  padding-left: 68px;
}

/* Media Queries */

/* Mobile devices */
@media only screen and (max-width: 688px) {
  /* mobile nav menu */
  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  .logo {
    height: 48px;
    width: 48px;
    padding-left: 23px;
  }
  .topnav {
    overflow: hidden;
    background-color: #28293e;
    position: relative;
    display: block;
  }
  .topnav #myLinks{
    display: none;
  }
  .logo-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
  }
  .topnav a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a.icon {
    background: 28293e;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 23px;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    box-sizing: border-box;
    border-radius: 6px;
  }
  .contact-button {
    display: none;
  }
  .active {
    background-color: #28293e;
    color: white;
  }
  /* hero section style */
  .hero-section {
    height: 464px;
  }
  .hero-section h1 {
    padding-top: 87px;
    padding-bottom: 12px;
  }
  .hero-section p {
    padding: 0 23px 87px 23px;
    text-align: center;
  }
  main,
  footer {
    padding-right: 23px;
    padding-left: 23px;
  }
  /* highlight articles style */
  .highlight-articles {
    display: block;
    border: none;
  }
  .highlight-articles img {
    height: 224px;
    width: 100%;
  }
  .highlight-articles h3 {
    font-size: 24px;
  }
  .highlight-article-1,
  .highlight-article-2 {
    margin-left: 0;
    margin-right: 0;
  }
  /*Grid blog articles */
  .blog-articles {
    grid-template-columns: repeat(1, 1fr);
  }
  .load-more-button button {
    margin-top: 33px;
    margin-bottom: 0;
  }
  /* footer */
  .newsletter h3 {
    text-align: left;
    justify-content: none;
  }
  .newsletter {
    flex-direction: column;
    justify-content: center;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .input-field input {
    width: 100%;
  }
  .subscribe-button button {
    font-size: 14px;
    width: 100%;
    margin-top: 16px;
  }
  .footer-banner {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
  .footer-banner img {
    order: 1;
    padding: 33px auto;
    width: 100%;
  }
  .banner-content {
    order: 2;
    padding-right: 27px;
    padding-left: 27px;
  }
  .banner-content h2 {
    font-size: 40px;
    padding-top: 0;
    line-height: 48px;
  }
  .banner-content button {
    margin-bottom: 48px;
  }
  .footer-menu {
    flex-direction: column;
    text-align: center;
  }
  .menu-title {
    padding-top: 51px;
    padding-bottom: 16px;
  }
  .social-icon {
    padding-top: 52px;
  }
  .copyright-container {
    flex-direction: column;
    align-items: center;
  }
  .copyright-container p {
    text-align: center;
    padding: 0;
  }
  .copyright-text{
    width: 65%;
  }
  .copyright-link p {
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
    margin-top: 32px; 
  }

}
