/* font */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&family=Open+Sans&display=swap");

/* common style */
* {
  font-family: "Epilogue", sans-serif;
  margin: 0;
}
.hero-section {
  height: 400px;
  background-color: #28293e;
}
.hero-section h1 {
  color: white;
  font-weight: 800;
  font-size: 72px;
  text-align: center;
  letter-spacing: -2px;
  padding-top: 164px;
  padding-bottom: 24px;
}
.hero-section p {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  padding-bottom: 66px;
}
main {
  background-color: #fdf0e9;
  padding-top: 80px;
  padding-left: 135px;
  padding-right: 135px;
}
/* highlighed articles */
.highlight-articles {
  display: flex;
  border-bottom: 1px solid #f3d1bf;
  margin-bottom: 79px;
}
.highlight-article-1 {
  margin-right: 15px;
  margin-bottom: 68px;
}
.highlight-article-2 {
  margin-left: 15px;
}
.highlight-articles img {
  width: 100%;
}
.category-name {
  font-size: 20px;
  color: #391400;
  padding-top: 26px;
  padding-bottom: 19px;
}
.highlight-articles h3 {
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 12px;
  color: #391400;
}
.publish-time {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
}
.blog-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 68px;
}
.blog img {
  width: 100%;
}
.blog h3 {
  font-size: 24px;
  font-weight: 700;
  color: #391400;
  margin-bottom: 15px;
}
.load-more-button {
  text-align: center;
}
.load-more-button button {
  background-color: white;
  padding: 18px 43px;
  margin-top: 115px;
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 14px;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  border: none;
  color: #391400;
}

/* Media Queries */

/* Mobile devices */
@media only screen and (max-width: 688px) {
  .hero-section {
    height: 464px;
  }
  .hero-section h1 {
    padding-top: 144px;
    padding-bottom: 12px;
  }
  .hero-section p {
    padding: 0 23px 87px 23px;
    text-align: center;
  }
  main {
    padding-right: 23px;
    padding-left: 23px;
  }
  .highlight-articles {
    display: block;
  }
  .highlight-articles img {
    height: 224px;
    width: 100%;
  }
  .highlight-articles h3 {
    font-size: 24px;
  }
  .highlight-article-1,
  .highlight-article-2 {
    margin-left: 0;
    margin-right: 0;
  }

  /*Grid blog articles */
  .blog-articles {
    grid-template-columns: repeat(1, 1fr);
  }
}
